<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://searchcastcrew.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>searchcastcrew.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>searchcastcrew</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$searchcastcrew</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SearchCastCrewConnectionv3" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:w1mwdur1bx.database.windows.net,1433;Initial Catalog=searchcastcrew_db;User ID=wbknapp@w1mwdur1bx;Password=CoderCamps415" Name="Data Source=tcp:w1mwdur1bx.database.windows.net,1433;Initial Catalog=searchcastcrew_db;User Id=wbknapp@w1mwdur1bx;Password=CoderCamps415" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SearchCastCrew.Data.ApplicationDbContext, SearchCastCrew.Data" MigrationConfiguration="SearchCastCrew.Data.Migrations.Configuration, SearchCastCrew.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SearchCastCrewConnectionv3-Web.config Connection String">
      <ParameterValue>Data Source=tcp:w1mwdur1bx.database.windows.net,1433;Initial Catalog=searchcastcrew_db;User Id=wbknapp@w1mwdur1bx;Password=CoderCamps415</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>