@model SearchCastCrew.Models.UserToDeleteVm
@{
    //Layout = null;
}

<h2>Delete</h2>

<h3>Are you sure you want to delete the profile for @Model.FirstName @Model.LastName?</h3>
<div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Cancel", "Index")
        </div>
    }
</div>
